/*Skjuler picture_2 pga skærmstørrelse*/
#picture_2 {
  display: none;
}
/*billeder der flexer horisontalt*/
#flex-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

#picture_1 {
  width: 90%;
}
/*tekstintroduktion - tekstbokse på billederne*/
#text {
  margin: 0 auto;
  width: 90%;
}
/*Gif*/
#xoxo {
  margin: 0 auto;
  width: 40%;
}

#text_1 {
  margin-bottom: 3%;
}
/*her tilføjes første media-query*/
@media only screen and (min-width: 600px) {
  #picture_2 {
    display: block;
  }

  #flex-container img {
   width: 40%;
       margin: 0.5em;
      
  }

  #flex-container {
    justify-content: center;
  }

    
  #xoxo {
    margin: 0 auto;
  }
    
    #text {
  margin: 0 auto;
  width: 82%;
}
}
