#picture_2 {
  display: none;
}

#flex-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

#picture_1 {
  width: 90%;
}

#text {
  margin: 0 auto;
  width: 90%;
}
#xoxo {
  margin: 0 auto;
  width: 50%;
}

#text_1 {
  margin-bottom: 3%;
}

@media only screen and (min-width: 600px) {
  #picture_2 {
    display: block;
  }

  #flex-container img {
    width: 45%;
  }

  #flex-container {
    justify-content: space-around;
  }

  #xoxo {
    margin: 0 auto;
    width: 50%;
  }
}
