/* GALLERY START */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    width: 49%;
    margin: 1%;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 10px;
}

/* GALLERY SLUT */

/* IMAGE EFFECT START */
figure:hover img {
    filter: grayscale(100%);
    transform: scale(1.03);
}

/* IMAGE EFFECT SLUT */
@media only screen and (min-width: 500px) {
    .column {
        width: 45%;
    }
}

@media only screen and (min-width: 700px) {
    .column {
        width: 22%;
    }
}

/*  mobil skift til desktop !!! */
@media only screen and (min-width: 1024px) {}
