p {
  font-size: 0.8em;
}

#bread-crumb {
  font-size: 1em;
}

h2 {
  margin-bottom: 3%;
}
#kaaliyah-project {
  margin-top: 2%;
  max-width: 98%;
  margin: 0 auto;
}

#kaaliyah-text {
  margin-bottom: 3%;
  text-align: center;
}

#media1 {
  text-align: center;
  position: relative;
  margin-bottom: 5%;
  cursor: pointer;
}

#video {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 5%;
  position: absolute;
  z-index: -10;
  top: 4%;
  left: 16%;
}
/* Dette er play button til tv'et*/
#play-button {
  width: 100px;
  position: absolute;
  top: 37%;
  left: 40%;
}

#tv-ramme {
  width: 80%;
}

.photos {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin-top: 3%;
  border: 3px solid #04d48a;
  box-shadow: 4px 4px black;
}

/*parallax bobler*/
.bobble img {
  position: absolute;
  z-index: 50;
}

#bobble1 img {
  width: 20%;
  right: 100px;
  top: 300px;
}

#bobble2 img {
  width: 30%;
  right: 30px;
  top: 800px;
}

#bobble3 img {
  width: 10%;
  left: 20px;
  top: 700px;
}

#bobble4 img {
  width: 15%;
  left: 50px;
  top: 1000px;
}

#bobble5 img {
  width: 10%;
  right: 3px;
  top: 1200px;
}

#bobble6 img {
  width: 20%;
  left: 3px;
  top: 1100px;
}

#bobble7 img {
  width: 25%;
  right: 3px;
  top: 1500px;
}

#bobble8 img {
  width: 10%;
  right: 50px;
  top: 1700px;
}

#bobble9 img {
  width: 15%;
  left: 30px;
  top: 1800px;
}

@media only screen and (min-width: 500px) {
  #media1 {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 2%;
  }

  #kaaliyah-text {
    max-width: 550px;
    margin: 0 auto;
  }
  /* Her gives der width til billeder og flexes til tablet */
  .photos {
    width: 30%;
  }

  #media2 {
    display: flex;
  }

  /*parallax bobler rettes så de følger med*/
  #bobble1 img {
    width: 15%;
    right: 80px;
    top: 100px;
  }

  #bobble2 img {
    width: 25%;
    right: 50px;
    top: 200px;
  }

  #bobble3 img {
    width: 10%;
    left: 100px;
    top: 400px;
  }

  #bobble4 img {
    width: 15%;
    left: 50px;
    top: 500px;
  }

  #bobble5 img {
    width: 10%;
    right: 3px;
    top: 1200px;
  }

  #bobble6 img {
    width: 20%;
    left: 3px;
    top: 1000px;
  }

  #bobble7 img {
    width: 25%;
    right: 200px;
    top: 1400px;
  }

  #bobble8 img {
    width: 10%;
    right: 50px;
    top: 1000px;
  }

  #bobble9 img {
    width: 15%;
    left: 400px;
  }
}

@media only screen and (min-width: 700px) {
  h2 {
    max-width: 750px;
  }

  #kaaliyah-text {
    max-width: 650px;
  }

  #media2 {
    max-width: 700px;
    margin: 0 auto;
  }
  /* Her tilføjes hover effekt til .photos */
  .photos {
    transition: transform 0.15s;
  }

  .photos:hover {
    transform: scale(1.1);
  }

  /*parallax bobler rettes igen*/
  #bobble1 img {
    width: 10%;
    right: 120px;
  }

  #bobble2 img {
    width: 15%;
    right: 200px;
  }

  #bobble3 img {
    width: 5%;
    left: 100px;
  }

  #bobble4 img {
    width: 10%;
    left: 150px;
  }

  #bobble5 img {
    width: 10%;
    right: 500px;
  }

  #bobble6 img {
    width: 15%;
    left: 150px;
  }

  #bobble7 img {
    width: 15%;
    right: 300px;
  }

  #bobble8 img {
    width: 10%;
    right: 50px;
  }

  #bobble9 img {
    width: 10%;
    left: 400px;
  }
}

/*  mobil skift til desktop !!! */
@media only screen and (min-width: 1024px) {
  #kaaliyah-text {
    line-height: 125%;
    font-size: 1.2em;
    margin: 0 auto;
  }
}
