h3 {
  font-size: 1.2em;
  color: lightgrey;
  -webkit-text-stroke: 0.5px black;
  text-shadow: 2px 2px black;
  text-align: center;
  font-family: "goldman";
}

.product-and-info {
  margin: 0 auto 3em;
  max-width: 400px;
}

.product_showcase {
  position: relative;
  text-align: center;
  font-size: 0.8em;
}

.product_pic {
  width: 80%;
  position: absolute;
  left: 11%;
  z-index: -5;
  top: 5%;
}

.tv_frame img {
  width: 90%;
  position: relative;
}

.see-more-text {
  position: absolute;
  width: 85%;
  background-color: rgba(219, 31, 153, 0.5);
  color: #fff;
  left: 8%;
  top: 37%;
  padding: 20px 10px;
  box-sizing: border-box;
  z-index: -10;
}

.number-and-price {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  font-size: 1.2em;
}

.top-nr {
  font-size: 1em;
}

.price {
  font-size: 1.2em;
  color: #05d48a;
  -webkit-text-stroke: 0.5px black;
  text-shadow: 2px 2px black;
  text-align: center;
  font-family: "goldman";
}

#icon-series {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icon-and-text {
  width: 35%;
  max-width: 100px;
  margin: 20px;
  font-size: 0.8em;
  text-align: center;
}

.icon-and-text img {
  width: 70%;
}

.icon-and-text p {
  font-size: 0.7em;
}

@media only screen and (min-width: 700px) {
  .product-flex {
    display: flex;
    justify-content: space-around;
  }

  .see-more-text {
    font-size: 1em;
  }
}

/*  mobil skift til desktop !!! */
@media only screen and (min-width: 1024px) {
  h3 {
    font-size: 1.4em;
  }

  .product-and-info {
    max-width: 500px;
  }

  .icon-and-text {
    font-size: 0.7em;
    max-width: 120px;
  }

  .see-more-text {
    font-size: 1.2em;
  }
}
