#top-menu {
  display: flex;
  justify-content: space-between;
}

#desktop-menu {
  display: none;
}

#burger-icon {
  width: 40px;
  height: 40px;
  align-self: center;
  margin-right: 10px;
}

#test-menu {
  width: 100%;
  text-align: center;
}

#test-menu li a {
  display: block;
  padding: 5px;
  margin: 5px;

  color: #db1f99;
}

#test-menu li {
  color: #db1f99;
}

#logo {
  width: 200px;
  margin-left: 15px;
  margin-top: 5%;
}

#bread-crumb a {
  color: #737772;
}

body {
  font-size: 20px;
  font-family: "Goldman", cursive;
  background-image: url(../images/background.jpg);
}

H1 {
  font-size: 2em;
  color: #f1b3d1;
  -webkit-text-stroke: 1px #db1f99;
  text-align: center;
  margin-bottom: 3%;
  margin-top: 5%;
  font-family: hardware requiem italic;
}

H2 {
  font-size: 1.1em;
  color: #db1f99;
  text-align: center;
  margin-bottom: 10%;
  padding: 1%;
}

p {
  color: #4b4b4b;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

footer {
  padding: 10px 10px;
}

.footer-social-icons ul img {
  width: 50px;
  margin-top: 25px;
}
.footer-social-icons ul {
  display: flex;
  justify-content: center;
}

.footer-social-icons li {
  margin: 0 30px;
}

/* MEDIA START ---------------------------------------------------------------------*/

@media only screen and (min-width: 500px) {
  h1 {
    font-size: 2.5em;
    margin-bottom: 1%;
  }

  #logo {
    width: 225px;
  }
}

@media only screen and (min-width: 700px) {
  #burger-icon {
    display: none;
  }
  #desktop-menu {
    display: block;
    display: flex;
  }

  #desktop-menu {
    margin-top: 20px;
  }

  #desktop-menu li {
    margin: 6px;
    font-size: 0.6em;
    padding: 5px;
    margin-top: 20px;
    font-weight: bold;
  }

  #desktop-menu li a {
    color: #db1f99;
  }

  H1 {
    font-size: 3em;
  }

  H2 {
    font-size: 1.8em;
    margin-bottom: 1%;
    padding: 1%;
    width: 70%;
    margin: 0 auto;
  }

  p {
    font-size: 1.3em;
  }
}
.menu-underline {
  text-decoration: underline;
}

/*  mobil skift til desktop !!! */
@media only screen and (min-width: 1024px) {
  #logo {
    width: 400px;
  }

  #desktop-menu {
    margin-top: 1px;
  }

  #desktop-menu li {
    align-self: center;
    background-color: #db1f99;
    font-size: 0.8em;
    width: 120px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 4px 4px;
  }
  #desktop-menu li a {
    color: white;
  }

  H1 {
    font-size: 3.3em;
  }

  H2 {
    font-size: 2em;
  }

  p {
    font-size: 1.4em;
  }
}

/* MEDIA SLUT ---------------------------------------------------------------------*/
