#font-test1 {
  font-family: "hardware requiem italic";
}

#font-test2 {
  font-family: "Goldman", cursive;
}

.header {
  position: relative;
  width: 100%;
  z-index: 3;
}

.header ul {
  list-style: none;
  overflow: hidden;
}

.header ul a {
  display: block;
  padding: 20px;
  border-right: none;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid black;
  font-size: 1.4em;
  font-family: "druk wide bold";
  -webkit-text-stroke: 1px black;
}

.header ul a:hover {
  color: #9b9b9b;
  transition: 0.6s;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.header .menu-icon {
  padding: 45px 20px;
  position: relative;
  float: right;
  cursor: pointer;
}

.header .menu-icon .nav-icon {
  background: black;
  display: block;
  height: 2px;
  width: 30px;
  position: relative;
  transition: background 0.2s ease-out;
}

.header .menu-icon .nav-icon:before {
  background: black;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: 5px;
}

.header .menu-icon .nav-icon:after {
  background: black;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 350px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}

.header #logo {
  width: 180px;
  padding: 1%;
  padding-top: 30px;
}

footer {
  padding: 10px 10px;
  background-color: #000000;
}

.footer-social-icons ul img {
  width: 45px;
}
.footer-social-icons ul {
  display: flex;
  justify-content: center;
}

.footer-social-icons li {
  margin: 0 30px;
}
