body {
  font-size: 20px;
  font-family: "Goldman", cursive;
  background-image: url(../images/background.jpg);
}

.font-test1 {
  font-family: "hardware requiem italic";
}

.header {
  position: relative;
  width: 100%;
  z-index: 3;
}

.header ul {
  list-style: none;
  overflow: hidden;
}

.header ul a {
  display: block;
  padding: 10px;
  border-right: none;
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.header .menu-icon {
  margin: 30px 5px;
  padding: 15px;
  position: relative;
  float: right;
  cursor: pointer;
}

.header .menu-icon .nav-icon {
  background: black;
  display: block;
  height: 3px;
  width: 35px;
  position: relative;
  transition: background 0.2s ease-out;
}

.header .menu-icon .nav-icon:before {
  background: black;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: 8px;
}

.header .menu-icon .nav-icon:after {
  background: black;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: -8px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 350px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}

.header #logo {
  width: 180px;
  padding: 3%;
  padding-top: 20px;
}

footer {
  padding: 10px 10px;
}

.footer-social-icons ul img {
  width: 50px;
  margin-top: 25px;
}
.footer-social-icons ul {
  display: flex;
  justify-content: center;
}

.footer-social-icons li {
  margin: 0 30px;
}

/* MEDIA START ---------------------------------------------------------------------*/
@media only screen and (min-width: 600px) {
  .header .menu-icon {
    display: none;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header li {
    float: left;
    padding-top: 8%;
  }
  .header li a {
    font-size: 0.55em;
  }
}

@media only screen and (min-width: 700px) {
  .header li a {
    font-size: 0.75em;
  }
}

@media only screen and (min-width: 805px) {
  .header ul a {
    border-bottom: none;
  }

  .header li a {
    font-size: 0.9em;
  }

  .header #logo {
    width: 180px;
  }
}

/*  mobil skift til desktop !!! */

@media only screen and (min-width: 1000px) {
  .header {
    height: 115px;
  }

  .header #logo {
    width: 275px;
  }

  .header li {
    float: left;
  }

  .header li a {
    font-size: 1.1em;
  }

  .header ul a {
    border-bottom: none;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }

  .header ul a {
    border-bottom: none;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }
}

/* MEDIA SLUT ---------------------------------------------------------------------*/
